%div.jumbotron
  %p.lead You'll love managing your project with our SaaS application. Please take a look at our great plans

%div.w-75.d-flex.jusitfy-content-center.align-items-center.justify-content-around.mx-auto.mt-5
  %div.card.card-width
    %div.card-body
      %p.card-title Free Plan
      %ul
        %li.card-text Unlimited file uploads
        %li.card-text Responsive design
        %li.card-text Access anywhere
        %li.card-text 1 project
      = link_to 'Sign up now!', new_organization_registration_path, class: 'btn btn-primary'

  %div.card.card-width
    %div.card-body
      %p.card-title Premium Plan
      %ul
        %li.card-text Unlimited file uploads
        %li.card-text Responsive design
        %li.card-text Access anywhere
        %li.card-text Unlimited projects
      = link_to 'Sign up now!', new_organization_registration_path, class: 'btn btn-primary'

%h2 Do you have an Organization?
= form_with url: go_to_organization_path, method: :post, local:true, data: { turbo: false } do |f|
  .field
    = f.label :organization_name
    %br/
    = f.text_field :organization_name, autofocus: true, autocomplete: "organization_name"
  .actions
    = f.submit "Go to Organization"