%p#notice= notice

%h1
  = @project.title

%h4 Details:
%div.d-flex.justify-space-batwen
  %div
    %p
      = @project.details
  %div
    %p Expected completion date:
    %p
      = @project.expected_completion_date

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
